
#root {
  margin: 0 auto;
}

main {
  max-width: 768px;
  margin: 0 auto;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #aaaaaa;
}

button.round {
  padding: 0.85rem 1rem;
}

.todo-filter button {
  background-color: transparent;
}

.todo-filter button:hover {
  text-decoration: underline;
}

.todo {
  display: flex;
  align-items: center;
}

.todo input {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid rgb(158, 158, 158);
  flex-grow: 1;
  margin: 0 1rem;
}
.todo input:focus{
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
  }
  .todo input {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

.todo span {
  flex-grow: 1;
  margin: 0 1rem;
}

.todo.active span {
  color: green;
  text-decoration: line-through;
}